.App {
  text-align: center;
  min-height: 100vh;
  width: 100vw;
  color: rgb(50, 50, 50);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Helvetica, Arial, sans-serif;
}

p {
  font-size: 10px;
}

.ReactModal__Body--open {
  overflow-y: hidden;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  cursor: pointer;
  user-select: none;
  height: 75px;
  stroke-miterlimit: 10;
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/* 
.App-link {
  color: #61dafb;
} */

#main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-visuals {
  /* padding-top: 20px; */
}

.locationName {
  margin: 20px 0 20px 0;
  font-weight: 900;
  font-size: 18px;
}

#notes {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#bug-note {
  width: 300px;
}
