.genre-group:hover {
}

.data-bar {
  fill: rgba(167, 167, 167, 0.8);
  /* stroke-alignment: outside; */
}
.empty-bar {
  fill: rgba(167, 167, 167, 0.3);
}

.data-bar:hover {
  pointer-events: bounding-box;
  fill: coral;
}

.genre-label {
  font-size: 11px;
  fill: white;
  text-anchor: end;
}

svg {
  font-family: Helvetica, Arial, sans-serif;
}
